.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Button {
  background-color: #00acee;
  color:white;
  border-radius: 80px;
  border:none;
  padding: 200 px;
  width: 170px;
  height: 30px;
}

.Menu{
  text-align: left;
  margin: 100 px;
  font-size: 1 rem;
}

.Navabar{
  display:flex;
  flex-direction: row;
  margin-block-end:auto;
  padding-right: 50px;

}

.Bloque2{
  display:flex;
  flex-direction: column;
  align-content: center;

}

.div1{
  margin-left: 50px;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  color: white;
}

.h6{
  background-position-y: -100;
}