@import '~antd/dist/antd.css';

.App{
    display: flex;
    margin-top: 20px;
}
.menu-container{
    width: 256px;
}

.follow-container{
    width: 300px;
}

.news-container{
    width: 500px;
}

/* .ant-list-item-meta-description{
    width: 300px;
} */